Source: audioreach-pipewire-plugin
Section: misc
Maintainer: Saurav Kumar <sauravk@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
 audioreach-graphmgr,
 audioreach-graphmgr-dev,
 audioreach-pal,
 audioreach-pal-dev,
 libexpat1-dev,
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 libtinyalsa-dev,
 pipewire,
 pkg-config,
 wireplumber,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-pipewire-plugin
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-pipewire-plugin.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-pipewire-plugin

Package: audioreach-pipewire-plugin
Architecture: arm64
Depends:
 audioreach-graphmgr,
 audioreach-pal,
 pipewire,
 wireplumber,
 ${misc:Depends},
 ${shlibs:Depends},
Description: PipeWire plugin for AudioReach audio framework
 Provides a PipeWire module that integrates AudioReach PAL
 devices with the PipeWire audio server, enabling audio routing
 and processing through AudioReach DSP pipelines.
